* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Color */
  --primary-green: hsl(158, 36%, 37%);
  --primary-green-dark: hsl(158, 42%, 18%);

  --neutral-black: hsl(212, 21%, 14%);
  --neutral-grey: hsl(228, 12%, 48%);
  --neutral-cream: hsl(30, 38%, 92%);
  --neutral-white: hsl(0, 0%, 100%);

  /* Typography */
  --font-family-montserrat: 'Montserrat';
  --font-family-fraunces: 'Fraunces';

  background-color: var(--neutral-cream);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  color: var(--neutral-black);
}

.text-preset-1 {
  font-family: var(--font-family-fraunces);
  font-weight: 700;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: var(--font-family-montserrat);
  font-weight: 500;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  letter-spacing: 0px;
}

.card-container {
  display: flex;
  width: 43.75rem;
  height: 34.375rem;
  background-color: var(--neutral-white);
  border-radius: 14px;
  flex-direction: row;
  overflow: hidden;
  margin: 12px;
}

.content-img {
  flex: 1;
  width: 100%;
  height: 100%;
}

.content-container {
  flex: 1;
  width: 100%;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

p {
  color: var(--neutral-black);
}

.content-category {
  color: var(--neutral-grey);
}

.content-description {
  color: var(--neutral-grey);
}

.price-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.content-price {
  color: var(--primary-green);
  font-size: 2rem;
}

.content-discount {
  color: var(--neutral-grey);
  text-decoration: line-through;
}

.cart-button {
  margin-top: auto;  
  width: 100%;
  height: 3rem;
  background-color: var(--primary-green);
  border-radius: 8px;
  border: none;
  color: var(--neutral-white);
  font-family: var(--font-family-montserrat);
  font-weight: 700;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.cart-button:hover {
  background-color: var(--primary-green-dark);
}

.cart-button .icon {
  width: 1.25rem;
  height: 1.25rem;
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: column;
    width:30rem;
    height: fit-content;
  }
}

